
html, body {
    -webkit-user-select: none; /*禁止选中文本*/
    user-select: none;
    background-color: #f9f9f9;
    margin: 0
}
body {
  padding: 5px 0px;
  font-family: 'fzltxh','NotoSansHans-Regular','AvenirNext-Regular',arial,'Hiragino Sans GB', "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  box-sizing: border-box;
}
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}
button,input,optgroup,select,textarea {
    -webkit-appearance:none; /*去掉webkit默认的表单样式*/
}
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}
input::-webkit-input-placeholder {
    color:#ccc; /*修改webkit中input的planceholder样式*/
}
input:focus::-webkit-input-placeholder {
    color:#f00; /*修改webkit中focus状态下input的planceholder样式*/
}
body {
    -webkit-text-size-adjust: 100%!important; /*禁止IOS调整字体大小*/
}
input::-webkit-input-speech-button {
    display: none; /*隐藏Android的语音输入按钮*/
}

/*这里开始*/
form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 2vw;
}
label {
  display: block;
  color: #344ecc;
}
input {
  box-sizing: border-box;
  display: block;
  width: 96vw;
  margin: 10px 0;
  padding: 5px 1vw;
  border-radius: 2px;
  border:  1px solid #344ecc;
  background-color: transparent;
}
button {
  border-radius: 2px;
  border:  1px solid #344ecc;
  padding: 5px 20px;
  background-color: #344ecc;
  color: white;
  font-family: 'fzltxh','NotoSansHans-Regular','AvenirNext-Regular',arial,'Hiragino Sans GB', "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;

}
